<header>
  <h2 class="titulo">Cadastre-se</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <form class="formulario">
    <input type="text"
           class="formulario-item"
           name="name"
           placeholder="Nome">
    <input type="text"
           class="formulario-item"
           name="lastname"
           placeholder="Sobrenome">
    <input type="number"
           class="formulario-item"
           name="participation"
           placeholder="Participação">
    <button class="formulario-item formulario-button">Enviar</button>
  </form>
</header>
